.calendar {
    display:grid;
    justify-content: center;
    grid-template-rows: 125px 1520px;
}
.month-select{
    overflow: hidden;
    margin-top:5rem;
    display:grid;
    grid-template-columns:repeat(12, 80px);
    justify-content: center;
    color:rgb(255, 216, 157);
}
.month-select > div {
    padding: 0.5rem;
    width: 100%;
    border-width: 1px;
    text-align: center;
    text-transform:uppercase;
}
.month-select:hover{
    cursor:pointer;
}
.selected-month {
    background:rgb(29, 29, 29);
    border-style:groove;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}
.month {
    overflow: hidden;
    margin-top: -0.8rem;
    padding: 25px;
    background:rgb(29, 29, 29);
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.6rem rgb(0, 0, 0);
    height: 66%;
}
.current-month  {
    display: flex;
    justify-content: center;
    border-radius: 0.6rem;
    margin-bottom:0.6rem;
    text-transform: uppercase;
}
.current-month i, .current-month h1  {
    margin: 3rem;
    font-size: 24px;
}
.prev, .next {
    cursor: pointer;
}
.weekdays{
    padding: 0.2rem .7rem;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 2rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.6rem;
    font-size: 14px;
    font-weight: bold;
}
.weeks {
    margin: -10px -10px;
    padding-top: 30px;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    justify-items: center;
    color:rgb(255, 216, 157);
    text-shadow:0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
@keyframes colorChange {
    0% {
        background:rgb(52, 52, 52);
    }
    20% {
        background:rgb(24, 24, 24);
    }
    100% {
        background:rgb(22, 22, 22);
    }
}
.weeks .dates:not(.today):not(.fill-days):not(.selected-date){
    animation: colorChange 3s ease-in forwards;
}

.dates {
    padding: 1.2rem;
    border-style:ridge;
    border-color:rgb(0, 0, 0);
    border-radius: 0.6rem;
    background:rgb(22, 22, 22);
    height: 7em;
    width: 7em;
    user-select: none;
}
.fill-days {
    padding: 1.2rem;
    border-style:ridge;
    border-color:rgb(70, 70, 70);
    border-radius: 0.6rem;
    background:rgb(70, 70, 70);
    height: 7em;
    width: 7em;
}
.today {
    color: black;
}
.dates:hover:not(.selected-date) {
    border-color:rgb(255, 243, 177);
    cursor: pointer;
}
.selected-date {
    border-color:salmon;
}

@media screen and (max-width: 768px) {

    .calendar {
        margin: 25px;
    }
    .month-select {
        grid-template-columns:repeat(12, calc(700px/12));
        font-size: 14px;
    }
    .month {
        height: 860px;    
    }
    .dates, .fill-days {
        margin: 0.2rem;
        width: calc(600px/7);
        height: calc(500px/6)
    }

}
@media screen and (max-width: 425px) {

    .calendar {
        margin: 25px;
    }
    .month-select {
        margin-top:90px;
        grid-template-columns:repeat(12, calc(357px/12));
        font-size: 9px;
        padding: 0;
    }
    .selected-month {
        border-style: none;
        border-radius: 0;
        background: none;
        text-decoration: underline;
        font-weight: bold;
    }
    .month {
        padding: 0.6rem;
        height: 660px;    
        align-content: center;
    }
    .current-month {
        align-items: center;
        height: 100px;
    }
    .current-month h1 {
        font-size: 18px;
    }
    .weekdays {
        grid-template-columns:repeat(7, 50px);
        
    }
    .weeks {
        margin: -20px -5px;
        
    }
    .dates, .fill-days {
        border-style: none;
        background: none;
        margin: 0.2rem;
        width: calc(357px/9);
        height: calc(860px/12);
        font-size: 11px;
    }
}
