.exp-bar-2 {
    position: fixed;
    border-radius: 0.6rem;
    background: peachpuff;
    width: 263px;
    height: 26px;
    top: 3.2rem;
    right: 0;
}
.exp-bar-1 {
    position: fixed;
    display: grid;
    margin: 0rem;
    z-index: 99;
    border-radius: 0.6rem;
    background: linear-gradient(to right, rgb(228, 154, 141), salmon);
    width: 253px;
    height: 16px;
    top: 3.5rem;
    right: 0.3rem;
}
