.s-current-month {
  display: grid;
  margin-top: 5rem;
  padding: 25px;
  font-size: 16px;
  border-top: solid;
  border-right: 0.5px solid;
  border-left: 0.5px solid;
  grid-template-columns: 200px 40px 40px 40px 40px;
  align-items: center;
  text-transform: uppercase;
}
.date-select {
  max-width: 455px;
}
i:hover {
  cursor: pointer;
  color: salmon;
}
.s-weeks {
  border-right: 0.5px solid;
  border-left: 0.5px solid;
  display: flex;
  justify-items: center;
}

.s-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 0.6rem 0.6rem;
  border: 0.5px solid;
  font-weight: bold;
  font-size: 15px;
}
.s-dates {
  height: 5em;
  width: 5em;
  user-select: none;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.5px solid;
}
.s-dates:hover {
  border-style: groove;
  cursor: pointer;
  border: 2px solid salmon;
  color: salmon;
}
.s-prev:hover,
.s-next:hover {
  cursor: pointer;
  color: salmon;
}

.s-today,
.today {
  color: salmon;
}

.selected-date,
.s-selected-date {
  border: 2px solid salmon;
  color: salmon;
}
