.taskContainer{
    position: relative;
    margin-top:5rem;
    margin-bottom: 0;
    padding: 1.2rem;
    height: 500px;
    width: 350px;
    background: rgb(68, 68, 68);
    box-shadow: 0rem 0.3rem 0.7rem rgb(7, 7, 7);
    border-radius: 0.6rem;
}
.taskContainer div {
    padding: 1rem 0.2rem;
    color: rgb(255, 216, 157);
   
}
.taskContainer .task {
    border-radius: 0.6rem;
    background: rgb(255, 216, 157);
    color:rgb(7, 7, 7);
    padding: 10px 20px;
    align-content: center;
    margin:  5px;
    cursor: pointer;
}
h2 {
    color:rgb(255, 238, 200);
    display:flex;
    margin: 0.3rem;
}
.task h3 {
    display: flex;
    justify-content: space-between;
}
.subBtn {
    position: absolute;
    margin: 1.6rem 0;
    padding: 0.6rem;
    border-radius: 0.6rem;
    background:rgb(255, 216, 157);
    box-shadow: 0 0.3rem 0.5rem rgb(7, 7, 7);
    width: 20%;
    left:40%;
    right: 40%;
    bottom: 0;
}
@media screen and (max-width: 1024px) {
    .taskContainer {
      margin: 5rem;   
    }
}
@media screen and (max-width: 512px) {
    .taskContainer {
      margin: 1rem;   
    }
}