.task-container{
    width: 88%;
    overflow-x: hidden;
    color:rgb(255, 216, 157);
}
.task-container .task {
    background: rgb(255, 216, 157);
    color:rgb(7, 7, 7);
    padding: 10px 20px;
    margin:  5px;
}
.task.reminder {
    border-left:0.5rem solid indianred;
}
label {
    color:rgb(255, 216, 157);
}
h2 {
    color:rgb(255, 238, 200);
    display:inline-flex;
    margin: .3rem;
}
.task-list {
  float: bottom;
}
.dot {
  margin: 0.6rem 0;
  height: 15px;
  width: 15px;
  background-color: rgb(102, 102, 102);
  display: inline-block;
}
.task h3 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.sub-btn {
    display: inline-block;
    background: rgb(255, 129, 129);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn-add-task {
  background: rgb(255, 129, 129);
  color: #fff;
  border: none;
  margin: 1.6px 5px;
  cursor: pointer;
  height: 35px;
  width: 15%;
}
.sub-btn:focus, .btn-add-task:focus {
    outline: none;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-disabled:hover {
  cursor:not-allowed;

}
.sub-btn:hover {
    cursor: pointer;
}
.new-task-form {
    margin-bottom: 40px;
  }

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  background-color:rgb(68, 68, 68);
}
.form-control input:focus {
  outline: none;
}
select {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  margin: 5px;
  width:100px;
  height:40px;
  color:rgb(255, 216, 157);
  background-color:rgb(68, 68, 68);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.start-date {
  user-select: none;
  height: 100px;
  width: 400px;
  padding: 0.6rem;
  border: 2px solid rgb(29, 29, 29);
}

.end-date {
  user-select: none;
  height: 100px;
  width: 400px;
  padding: 0.6rem;
  background-color:rgb(29, 29, 29);
  border: 2px solid rgb(29, 29, 29);
}
select option {
  width: 14em;
  padding: 13em;
  text-indent: 0;
  line-height: 2em;}
select:focus {
  outline: none;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
