* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.custom-element-bg {
    background-color:rgb(255, 221, 158);
}
body {
    overflow-x: hidden;
    background:rgb(43, 43, 43);
}
.wrapper {
    margin-top:-5rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 1250px 500px;
}
nav {
    position: -webkit-sticky;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 2.6rem;
    min-height: 3rem;
    box-shadow: 5px 10px 10px #000000;
    z-index: 999;
}
.logo, .logo h4 {
    color: rgb(27, 27, 27);
    letter-spacing: 5px;
    text-shadow: 0rem 0.1rem 0.1rem rgb(43, 43, 43);
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li, .nav-links a{
    list-style: none;
    text-decoration: none;
    color: rgb(27, 27, 27);
    text-shadow: 0rem 0rem 0.1rem rgb(43, 43, 43);
    font-size: 18px;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        justify-items: center;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: 1100px 600px;
    }
}
@media screen and (max-width: 425px) {
    .nav-links {
        display: none;
    }
    .wrapper {
        justify-items: center;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: 800px 700px;
    }
}
